* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Blanco */
    --white: #fff;
    /* Rojo claro */
    --light-red: #fbe9e5;
    /* Piel más clara */
    --skin-lighter: #f5ebdc;
    /* Piel clara */
    --skin-light: #efe1cc;
    /* Piel Rosacea */
    --skin-pink: #f0cdbb;
    /* Piel */
    --skin: #bba37e;
    /* Piel casi oscura */
    --skin-semidark: #bba391;
    /* Piel oscura */
    --skin-dark: #9f816f;
    /* Rojo */
    --red: #d63955;
    /* Rojo oscuro */
    --dark-red: #a71b00;
    /* Marrón morado */
    --brown-purple: #502314;
    /* Marrón más oscuro */
    --darkest-brown: #2b0200;
    /* Negro */
    --black: #000;
}

/* Cuerpo de la página */
body {
    font-family: "Cabin", sans-serif;
    color: var(--brown-purple);
    background-color: var(--skin-lighter);
}

/* Propiedades de todos los botones */
button {
    font-family: "Cabin", sans-serif;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

/* Filas de la barra de navegación */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 3px 30px;
    box-shadow: 0px 0px 0.8px var(--black);
    background-color: var(--skin-lighter);
}

/* Barra de navegación parte izquierda */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--brown-purple);
}

.nav-left a:hover {
    color: var(--red);
}

.nav-left img {
    max-width: 60px;
}

/* Barra de navegación parte derecha */
.nav-right button {
    margin-left: 15px;
}

#btn-inscribir {
    background-color: var(--red);
    border: none;
    font-size: 15px;
    color: var(--white);
    padding: 5px 12px;
    border-radius: 20px;
}

#btn-carrito {
    background-color: var(--brown-purple);
    color: var(--skin-light);
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
}

#btn-inscribir:hover {
    background-color: var(--dark-red);
}

/* Barra de navegación abajo */
.lang-row {
    display: flex;
    justify-content: flex-end;
}

.lang-button {
    border: none;
    background: none;
    color: var(--skin-dark);
    padding: 3px 0px;
    margin-right: 12px;
}

.bi-globe {
    font-size: 16px;
}

/* Mi BK */
.container {
    margin: 110px auto 0 auto;
}

.mibk {
    background-color: var(--brown-purple);
    box-shadow: 0px -3px 17px #000000;
    margin-bottom: 125px;
}

.mibk-col1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 39px 24px 0 24px;
}

.mibk-col1 img {
    max-width: 208px;
}

.mibk-col1 button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--skin-lighter);
    border-radius: 20px;
    background-color: var(--brown-purple);
    color: var(--white);
    padding: 3px 18px 3px 7px;
    font-size: 15px;
}

.mibk-col1 button:hover {
    background-color: var(--skin-pink);
}

.bi-info-circle-fill {
    font-size: 19px;
}

.mibk-col2 {
    color: var(--white);
    padding: 1px 24px 20px 24px;
    font-weight: bold;
}

/* Tarjetas */
.cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1116px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: var(--white);
    max-width: 550px;
    border-radius: 10px;
}

.card-img img {
    max-width: 550px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {
    max-width: 380px;
    padding: 7px 0 0 15px;
}

.card-text h2 {
    font-size: 19px;
}

.card-text p {
    margin-top: 4px;
    font-size: 14px;
}

.card button {
    align-self: flex-end;
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    font-size: 19px;
    padding: 12px 15px;
    margin: 0 18px 17px 0;
    border-radius: 24px;
}

.card button:hover {
    background-color: var(--light-red);
}

.title-long {
    font-size: 16px !important;
}

.text-long {
    font-size: 12px !important;
}

/* Sección para descargar la App */
.background-phone {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px 0 0 0;
    margin-top: 210px;
    background-color: var(--skin-light);
}

.background-phone img {
    margin-top: 75px;
    max-width: 420px;
}

.texto-imagenes {
    max-width: 528px;
}

.texto-imagenes h3 {
    font-size: 54px;
    -webkit-text-stroke: var(--brown-purple) 3px;
    font-weight: bold;
}

.texto-imagenes button {
    border: none;
}

.texto-imagenes img {
    max-width: 120px;
    border-radius: 6px;
}

/* Pié de página */
footer {
    background-color: var(--darkest-brown);
    padding: 109px 0  55px 0;
}

.foot-container {
    max-width: 1116px;
    margin: 0 auto;
}

/* Enlaces externos */
.foot-links {
    padding-bottom: 58px;
    border-bottom: 1px solid var(--skin-semidark);
}

.foot-links li {
    margin-bottom: 6px;
}

.foot-links a {
    color: var(--skin-semidark);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

/* Otros */
.foot-others {
    display: flex;
    justify-content: space-between;
    margin: 22px auto 0 auto;
    padding-bottom: 91px;
    border-bottom: 1px solid var(--skin-semidark);
}

/* Redes sociales */
.foot-social {
    flex: 2;
}

.foot-social h4 {
    color: var(--skin-lighter);
    font-size: 27px;
}

.social-links {
    display: flex;
    gap: 14px;
    margin-top: 4px;
}

.social-links .bi {
    color: var(--skin-lighter);
    font-size: 24px;
    transition: color 0.2s
}

.social-links .bi:hover {
    color: var(--dark-red);
    transition: color 0.2s
}

/* Copyright */
.copyright {
    max-width: 200px;
    flex: 2;
}

.copyright p {
    font-size: 13px;
    color: var(--skin-semidark);
}

/* Botón ES */
.lang-button-down {
    font-size: 15px;
    color: var(--skin-lighter);
    flex: 1;
}

/* Cookies */
.foot-cookies {
    margin-top: 20px;
}

.foot-cookies button {
    border: none;
    background: none;
    color: var(--skin-lighter);
    font-size: 16px;
}